*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(241,28,241,0.219);
    min-height: 100vh;
}

.loader{
    display: flex;
    flex-direction: row;
}

.loader div{
    position: relative;
    width: 40px;
    height: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 40px;
    background: linear-gradient(to bottom, rgba(139,109,139,0.5), #d1a6ca);
    border: 2px solid #b69aae;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1) -15px -15px 20px #fff inset -5px -5px 5px rgba(218,4,4,0.5) inset 5px 5px 5pxx rgba(0,0,0,0.05);
}

.loader div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-radius: 40%;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1),
    -15px -15px 20px #fff,
    inset -5px -5px 5px rgba(170,2,2,05)
    inset 5px 5px 5px rgba(0,0,0,0.05);
}

.loader div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background: #edf1f4;
    border-radius: 50%;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,0.2),
    0 420px 0 400px #2196f3;
    animation: animate 1.5s ease infinite;
    transform: translateY(160px);
    animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate {
    0%{
        transform: translateY(160px);
        filter: hue-rotate(900deg);
    }
    50%{
        transform: translateY(0px);
        filter: hue-rotate(900deg);
    }
    100%{
        transform: translateY(160px);
        filter: hue-rotate(0deg);
    }
}

